@keyframes example {
  0% {
      background-color: red;
  }
  25% {
      background-color: yellow;
  }
  50% {
      background-color: blue;
  }
  100% {
      background-color: green;
  }
}

.animation {
  width: 200px;
  height: 200px;
  animation: example 10s infinite; /* Apply the animation */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-align: center;
}
